.signature {
    height: 200px;
    width: 600px;
    background-image: url("../img/frame.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.left-side {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 0px;
}

.right-side {
    height: 200px;
    width: 400px;
    position: absolute;
    right: 0px;
}

.content {
    height: 125px;
    width: 350px;
    position: absolute;
    top: 36.5px;
    left: 15px;
    background-color: burlywood;
}

.social-media {
    height: 125px;
    width: 35px;
    position: absolute;
    right: 0px;
    top: 36.5px;
    background-color: seashell;
}

.r-bottom {
    height: 22.5px;
    width: 385px;
    position: absolute;
    left: 15px;
    bottom: 0px;
    background-color: silver;
}

.rake-logo {
    width: 180px;
    height: auto;
    position: absolute;
    left: 10px;
    top: 15px;
}

.rake-motto {
    width: 200px;
    height: auto;
    position: absolute;
    text-align: center;
    color: #fbfaf2;
    bottom: 10px;
    font-family: Parisienne;
    font-size: 20px;
}