a {
 text-decoration: none;
}

.frame {
    width: 640px;
    height: 250px;
    font-size: 1em; 
}

.logo-frame {
    width: 250px; 
    height: 250px;
    font-size: 1em; 
    border-right: 1px double; 
    border-right-color: #ff0000; 
    vertical-align: center;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.rake-logo {
    width: 250px; 
    height: auto; 
    border: 0; 
    vertical-align: center;
    padding: 0;
    margin: 0;
}

.rake-motto {
    width: 250px;
    height: auto;
    border: 0;
    vertical-align: center;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: SourceSans-Light-Italic;
    font-size: 25px;
}

.info-frame {
    margin: 0;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 350px;
    position: relative;
}

.red-headline {
    font-weight: 600;
    color: #d62828;
    font-size: 1.2em;
    font-family: SourceSans-Regular;
}

.rake {
    padding: 0;
    margin: 0;
    vertical-align: center;
    font-family: SourceSans-Regular;
    font-weight: 700;
    font-size: 1.4em;
}

.rake-member {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 350px;
    height: 150px;
    padding: 0;
    vertical-align: center;
}

.rake-social-media {
    position: absolute;
    bottom: 50px;
    left: 10px;
    width: 350px;
    padding: 0;
    vertical-align: center;
    text-align: center;
}

.rake-media {
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 350px;
    height: 1em;
    padding: 0;
    vertical-align: center;
}

.rake-member-info {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 5px;
}

.rake-member-name {
    font-size: 1.2em; 
    font-family: SourceSans-Regular; 
    color:#d62828; 
    font-weight: 600;
    margin-right: 5px;
}

.rake-member-team {
    font-family: SourceSans-Light-Italic; 
    font-size:1em; 
    color:#333333; 
    font-weight: 600;
    margin-left: 5px;
}

.rake-member-mail {
    font-size: 1em; 
    font-family: SourceSans-Regular; 
    color:#333333;
    position: absolute;
    top: 40px;
    left: 40px;
}

.rake-member-phone {
    font-size: 1em; 
    font-family: SourceSans-Regular; 
    color:#333333;
    position: absolute;
    top: 70px;
    left: 40px;
}

.rake-address {
    font-family: SourceSans-Regular; 
    font-size:1em; 
    color:#333333;
    position: absolute;
    top: 100px;
    left: 40px;
}

.rake-mail {
    text-decoration:none; 
    font-size: 1em; 
    font-family: SourceSans-Light-Italic; 
    color:#333333;
    position: absolute;
    bottom: 0px;
    left: 20px;
}

.rake-website {
    text-decoration:none; 
    font-size: 1em; 
    font-family: SourceSans-Light-Italic; 
    color:#333333;
    position: absolute;
    bottom: 0px;
    right: 20px;
}

